
* {
    font-family: "Audiowide", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    user-select: none;
}

h1 {
    font-size: 4rem;
    margin: 0;
}

.hide {
    display: none;
    height: 0;

}

.timer-container {
    width: 23rem;
    height: 28rem;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background: #333;
    color: white;
    box-shadow:
        inset 0px 0px 50px rgba(0, 0, 0, 0.3),
        5px 5px 5px rgba(0, 0, 0, 0.3),
        -5px -5px 5px rgba(255, 255, 255, 0.05);
    overflow: hidden;
}

input,
button {
    height: 3rem;
    width: 7rem;
    margin: .5rem;
    padding: 0rem 1rem;
    border-radius: 10px;
    border: none;
    background: white;
    font-size: large;
    font-weight: bold;
    color: #333;
    box-shadow:
        inset 0px 0px 15px rgba(0, 0, 0, 1),
        10px 10px 10px rgba(0, 0, 0, 0.2),
        -5px -5px 5px rgba(255, 255, 255, 0.1);
}

button {
    width: fit-content;
    margin: .5rem;
}

button:disabled {
    mix-blend-mode: overlay;
}

.reset {
    background: red;
}

.time {
    font-size: 3rem;
    margin: 1rem;
}

.pop-up {
    background: transparent;
    border: none;
    border-radius: 50px;
}

.pop-up-box{

    width: 18rem;
    height: 18rem;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    background: transparent;
    backdrop-filter: blur(10px);
    box-shadow:
       /* inset 0px 0px 20px rgba(0, 0, 0, 0.3), */
        /* 5px 5px 15px rgba(0, 0, 0, 0.5), */
        0px 0px 20px rgba(0, 0, 0, 0.5);

}
.pop-up-text{
    font-size: 2.5rem;
    margin: 0;
    color: red;
}
