.body {
        justify-content: center;
        margin-top: 100px;
}

.calculator-container {
        width: 340px;
        height: 590px;
        margin: auto;
        background-color: black;
        border-radius: 40px;
        padding: 20px;
        margin-top: 50px;

}

input[id="result"] {

        width: 230px;
        height: 20px;
        margin: auto;
        background-color: #6e6e6e;
        border: 5px solid black;
        border-radius: 25px;

        font-size: 40px;
        color: white;
        text-align: right;
        padding: 50px;
}

.buttons {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        width: 100%;
        row-gap: 10px;
        margin-left: 2px;
        margin-top: -25px;
}



.buttons input[class="buttonG"] {


        width: 70px;
        height: 70px;
        background-color: white;
        border: 0px solid white;
        border-radius: 50px;
        font-size: 25px;
        margin: 5px;
        float: center;
        transition: 0.15s;
}
        .buttons input[class="buttonG"]:active {
                background-color: white;
                box-shadow: 1px 1px 30px #09ff00;
                transform: scale(0.9);
        }


.buttons input[class="buttonO"] {

        width: 67px;
        height: 67px;
        background-color: orange;
        border: 0px solid black;
        border-radius: 50px;
        font-size: 30px;
        color: #ffff;
        margin: 5px;
        text-align: center;
        outline: none;
        transition: 0.15s;
}
        .buttons input[class="buttonO"]:active {
                box-shadow: 1px 1px 20px orange;
                transform: scale(0.9);
        }


.buttons input[class="buttonW"] {

        width: 67px;
        height: 67px;
        background-color: #c9c9c9;
        border: 0px solid white;
        border-radius: 50px;
        font-size: 25px;
        color: #ffff;
        margin: 5px;
        text-align: center;
        outline: transparent;
        transition: 0.15s;
}
        .buttons input[class="buttonW"]:active {
                box-shadow: 1px 1px 20px white;
                transform: scale(0.9);
        }