@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900');

* {
    transition: all 0.15s ease-in-out;
}

body {
    background-color: rgb(233, 233, 233);
    font-family: Arial;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.checkout-title {
    font-family: 'Bodoni Moda', serif;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
    display: block;
}

.checkout-container {
    width: 70%;
    background-color: #fff;
    border-radius: 25px;
    margin-top: var(--header-height);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap :20px;
    padding:  18px 22px;
}

.checkout-card {
    --bg-clr: rgb(221, 221, 221);

    width: 100%;
    height: 300px;
    margin: 0;
    border-radius: 13px;
    background-color: var(--bg-clr);   
    border: 5px solid var(--bg-clr);
    display: grid;
    grid-template-columns: 300px 1fr;
    column-gap: 30px;

}

.checkout-image img {
        width: 100%;
        height: 100%;
        background-color: white;
        object-fit: contain;
        border-radius: 10px 0px 0px 10px;
}

.checkout-details {
    font-size: 1.5rem;
}

button{
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    background-color: #459fff;
    color: #ffffff;
    cursor: pointer;

    &:active {
        scale: 0.9;
    }
}
.checkout-delete-btn{
    background-color: rgb(255, 76, 76);
} 

@media (max-width: 768px) {
    .checkout-container {
        width: 90%;
    }

    .checkout-card {
        grid-template-columns: 1fr 1fr;
        height: auto;
    }
   
    .checkout-details {
        padding-bottom: 10px;
        font-size: 1rem;
    }
}