@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900');

* {
    transition: all 0.15s ease-in-out;
}

body {
    background-color: rgb(233, 233, 233);
    font-family: Arial;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.checkout-title {
    font-family: 'Bodoni Moda', serif;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
    display: block;
}

.checkout-order-summary {
    background-color:transparent;
    border: 1px solid #ccc;
    width: 70%;
    margin: 20px;
    padding: 5px 20px;
    border-radius: 20px;
    
    h5{
        margin: 10px 0;
    }
  
    
}
.order-header{
    display: flex;
    justify-content: space-between;

    button {
        background-color: yellow;
        font-weight: bolder;
        color: #a30000;
        margin-bottom: 5px;
    }
}

.order-details{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 10px 0;
    border-top: 1px solid #ccc;
}

.order-price {
        
        font-weight: bold;
        color: #a30000;
}
.order-price,
.order-product{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}

.checkout-container {
    width: 70%;
    background-color: #fff;
    border-radius: 25px;
    margin-top: var(--header-height);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap :20px;
    padding:  18px 22px;
}

.checkout-card {
    --bg-clr: rgb(221, 221, 221);

    width: 100%;
    height: 300px;
    margin: 0;
    border-radius: 13px;
    background-color: var(--bg-clr);   
    border: 5px solid var(--bg-clr);
    display: grid;
    grid-template-columns: 300px 1fr;
    column-gap: 30px;

}

.checkout-card-image img {
        width: 100%;
        height: 100%;
        background-color: white;
        object-fit: contain;
        border-radius: 10px 0px 0px 10px;
}

.checkout-card-details {
    font-size: 1.7rem;


    p{  
        font-size: 1rem;
        color: rgb(60, 60, 60);

    }
    .checkout-total-price {
        font-weight: bold;
        color: #a30000;
    }
}

button{
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    color: #007bff;
    cursor: pointer;
    margin-top: 15px;

    &:active {
        scale: 0.9;
    }
}
.checkout-card-delete-btn{
    color: rgb(255, 76, 76);
} 



/* Media Queries for Mobile Devices */

@media (max-width: 768px) {

    .checkout-container {
        width: 90%;
    }

    .checkout-card {
        grid-template-columns: 1fr 1fr;
        height: auto;
    }
   
    .checkout-card-details {
        padding-bottom: 10px;
        font-size: 1.2rem;
    }
}
