/* codes for attributes */


html,
body {
    overflow-x: hidden;
    margin: 0;
    font-family: "Nunito", sans-serif;
    max-width: 100%;
    transition: 1s;
}


section {
    height: 100vh;
    margin: 0px;
    padding: 30px;
    transition: 1s;
}

img {
    max-width: 100%;
    max-height: 100%;
    aspect-ratio: 1/1;
    border-radius: 30px;
    /* border: 1px solid rgb(61, 39, 0); */

}

button {
    background-color: rgb(61, 39, 0);
    color: rgb(255, 241, 216);
    font-weight: 900;
    font-size: 1vw;
    padding: 1vw 2vw;
    border-radius: 50px;
    border: none;
    outline: none;
    cursor: pointer;
}

h1 {
    font-size: 5vw;
    color: rgb(25, 16, 0);
    font-family: "Alegreya", serif;
}

h2 {
    font-size: 2vw;
    margin-top: 10px;
    margin-bottom: 2px;
    font-family: "Alegreya", serif;
}

h4,
h3 {
    color: rgb(103, 96, 82);
    margin-top: 1px;
    font-size: 1.5vw;
}

p {
    font-size: 1.1vw;
}


input {
    height: 4vw;
    width: 25vw;
    border: none;
    background-color: rgb(255, 241, 216);
    border-radius: 30px;
    padding-left: 20px;
    outline: none;
}

textarea {
    height: 10vw;
    width: 25vw;
    border: none;
    outline: none;
    resize: none;
    background-color: rgb(255, 241, 216);
    border-radius: 30px;
    padding: 20px;
}

/*codes for classes */

.page-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background: linear-gradient(60deg, rgb(215, 188, 142), rgb(165, 132, 75),
            rgb(179, 129, 44), rgb(247, 226, 191));
}

.page-1 .img {
    width: 45%;
}

.logo {
    position: relative;
    top: -20px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgb(255, 241, 216);
    height: 10vw;
    width: 10vw;
}

.page-2 {
    display: flex;
    gap: 50px;
    align-items: center;
    flex-direction: row;
    background-color: rgb(255, 241, 216);
}

.page-2 img {
    mix-blend-mode: darken;
    border-radius: 50%;
    height: 25vw;
    width: 25vw;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}

.page-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(179, 129, 44);
    padding-bottom: 100px;
}

/* .card{
    margin: 20px;
    padding: 50px;
    width: 300px;
    height: 450px;
    border-radius: 50px;
    background-color: rgb(255, 241, 216);
} */


.card {
    margin: 20px;
    padding: 50px;
    width: 300px;
    height: 450px;
    border-radius: 50px;
    background-color: rgb(255, 241, 216);
    font-size: 16px;
    /* Base font size for the card */

}

.card h2 {
    font-size: 1.5em;
    /* 1.5 times the font size of the .card */
    text-align: center;
}

.card h4 {
    font-size: 1.2em;
    /* 1.2 times the font size of the .card */
    text-align: center;
}

.card button {
    font-size: 1em;
    /* Equal to the font size of the .card */
    padding: 10px 20px;
}



.page-4 {
    background: rgb(61, 39, 0);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: antiquewhite
}

.page-4 h1 {
    color: antiquewhite
}

.col-1 img {
    height: 15vw;
    width: 15vw;
    border-radius: 50%;
    border: none;
    margin: 5vh;
}

.col-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.col-2 button {
    background-color: rgb(179, 129, 44);
}

.material-symbols-outlined {
    color: rgb(179, 129, 44);
    margin-bottom: 10px;
}





/* Animation */
.animate {
    transition: 1s;
}

.page-1 .animate .descript {
    width: 50%;
    transform: translateX(-100%);
}

/* .page-1.show-animation .animate{
    transform: translateX(0);
} */

.page-1 img.animate {
    transform: rotate(720deg) scale(1.5);

}

.page-1.show-animation .animate {
    transform: translateX(0);
    transform: rotate(0deg);
}

.page-2 .animate {
    transform: translateX(100%);
}

.page-2 img.animate {
    transform: scale(0);
}


.page-2.show-animation .animate {
    transform: translateX(0);
    transform: scale(1);
}


.page-3 .animate {
    transform: translateX(-100%);
    transition-delay: calc(.2s * var(--j));
}

.page-3.show-animation .animate {
    transform: translateX(0);

}

.page-4 .col-2 .animate {
    transform: translateY(25vh);
    transition: .5s;
    transition-delay: calc(.05s * var(--i));

}

.page-4.show-animation .col-2 .animate {
    transform: translateY(0);
}





.nav-placeholder {
    position: fixed;
    top: 5;
    left: 50%;
    transform: translateX(-50%);

    width: fit-content ;
    font-size: 15px;
    font-weight: bold;

    background-color: rgb(61, 39, 0);
    border: 5px solid rgb(61, 39, 0);
    border-radius: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    z-index: 1000;
}

.nav-placeholder a {
    text-decoration: none;
    text-align: center;
    background-color: antiquewhite;

    color: rgb(61, 39, 0);
    padding: 5px 5vw;;
    border-radius: 10px;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.nav-placeholder a:hover {
    background-color: rgb(179, 153, 108);
    mix-blend-mode: lighten;
    color: antiquewhite;
}

.nav-placeholder a.clicked {
    padding: 5px 3vw;
    background-color: rgb(179, 129, 44);
    color: antiquewhite;
    font-family: "Alegreya", serif;
    font-weight: bold;
    transition: all .5s ease;
    /* Ensure smooth width transition */
}