body {
  background: rgb(230, 230, 230);
}

::-webkit-scrollbar {
  width: 10px;

}

::-webkit-scrollbar-track {
  background: rgba(230, 230, 230);
}

::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255);
  border-radius: 50px;
  height: 20px;
}


.header {
  display: flex;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 900;
  position: fixed;
  top: 0;
  left: 40px;
  z-index: -1;
}

.container-video {
  width: 85vw;
  margin: 120px auto;
  padding: 40px;
  border-radius: 60px;
  background: rgb(230, 230, 230);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.15), -10px -10px 20px rgba(255, 255, 255, 1);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 40px;
  justify-content: center;

}

.card {
  width: 100%;
  background: rgb(230, 230, 230);
  display: block;
  font-family: 'Noto Sans Bengali', sans-serif;
  font-size: 15px;
  border-radius: 30px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.15), -10px -10px 20px rgba(255, 255, 255, 1);
}

video {
  background: white;
  width: 100%;
  aspect-ratio: 4/3;
  border-radius: 25px;
  border: 10px solid rgb(236, 236, 236);
  box-sizing: border-box;

  box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.13), 
              -10px -10px 20px rgba(255, 255, 255, 1);
  transition: 0.3s;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 30px rgba(9, 9, 9, 0.3);
  }
}

.video-details{
  margin-top: -20px;
  padding: 10px 20px;
}

.video-date {
  display: inline-block;
  background: gray;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: 500;
  color: white;
  border: solid white;
  border-radius: 25px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

@media(max-width: 768px) {

  .header {
    left: 0px;
  }
 
  .container-video {
    grid-template-columns: repeat(1, 1fr);
    padding: 20px;
    gap: 20px;
    border-radius: 40px;

  }

  .card {
    font-size: 12px;
  }

  .video-date {
    font-size: 10px;
  }
}
























/* 
border:5px;
border-style: solid;
border-color: white;




body{
background:black;

  */