:root {

	--shadowclr: 5px 5px 35px #eb8afd,
		0px 0px 10px #7a60ff,
		-5px -5px 35px #55cefa;
}


body {
	background: rgb(0, 0, 0);
	color: white;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
	    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

		/* To put the gameBody center*/
	display: flex;
	justify-content: center;
	align-items: center;
	user-select: none;
	

}

.gameBody{

	/* To put the contents of gameBody center*/
	display: flex;
	flex-direction: column;
	align-items: center;
    
}

.playbutton{
	background: linear-gradient(300deg, #eb8afd, #7a60ff, #55cefa);
	width: 100px;
	height: 100px;
	margin: 10px 10px;
	border: none;
	border-radius: 50px;
	outline: none;
	box-shadow: 0px 0px 20px rgb(77, 77, 77);
	font-size: 50px;
	color: white;
	font-weight: bold;
	cursor: pointer;
	transition: 0.2s
	
}

	.playbutton:hover {
		background: white;
		box-shadow: var(--shadowclr);
		text-shadow: 0px 0px 10px #eb8afd;
	}

	.playbutton:active {
		background: white;
		box-shadow: var(--shadowclr);
		text-shadow: 0px 0px 10px #eb8afd;
		transform: scale(5);
	}

	
.result {
	display: flex;
	align-items: center;
	flex-direction: column;
}

	#Mes {

		margin-top: 50px;
		font-size: 20px;
		font-weight: bold;
	}

	#Res {
		margin-top: -20px;
		font-size: 40px;
		font-weight: bolder;
		color: red;

	}

	.score{
		display: flex;
		align-items: center;
		font-weight: bold;
	}
	.score p{
		margin-right: 20px;
	}

	#reset{
		height: 30px;
		width: 60px;
		border-radius: 15px;
		border: 0px solid white;
		background: #ff0000;
		color: rgb(255, 255, 255);
		font-size: 15px;
		font-weight:700;
		transition: 0.2s
	}
	#reset:active{
		transform: scale3d(0.9, 0.9, 0.9);
		box-shadow: 0px 0px 10px rgb(77, 77, 77);
	}